<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
     <head>
      <TITLE>$!page_title</TITLE>
      <meta http-equiv="Content-Type" content="text/html; charset=GBK"/>
      <meta http-equiv="Content-Language" content="zh-CN"/>
      <META NAME="Author" CONTENT="">
      <META NAME="Keywords" CONTENT="">
      <META NAME="Description" CONTENT="">
       <link rel="stylesheet" type="text/css" href="http://www.javaarch.net/jiagoushi/css/admin.css">
	   <script src="http://www.javaarch.net/jiagoushi/js/markdown.js" type="text/javascript" charset="GBK"></script>
       <link rel="stylesheet" type="text/css" href="http://www.javaarch.net/jiagoushi/css/github.css">
	  <script src="http://www.javaarch.net/jiagoushi/js/jquery-1.10.0.js" type="text/javascript" ></script>
		<script src="http://www.javaarch.net/jiagoushi/js/jquery.form.js" type="text/javascript" ></script>    
		
			<!-- syntaxhighlighter -->
	<script src="http://www.javaarch.net/jiagoushi/js/jquery-1.10.0.js" type="text/javascript" ></script>
	    <link type="text/css" rel="stylesheet" href="http://www.javaarch.net/jiagoushi/css/syntaxhighlighter/shCore.css"/>
      <link type="text/css" rel="stylesheet" href="http://www.javaarch.net/jiagoushi/css/syntaxhighlighter/shThemeDefault.css"/>
	   <!-- <script type="text/javascript" src="http://www.javaarch.net/jiagoushi/js/syntaxhighlighter/brush.js"></script>-->
	  <script type="text/javascript" src="http://www.javaarch.net/jiagoushi/js/syntaxhighlighter/shCore.js"></script>
		 <script type="text/javascript" src="http://www.javaarch.net/jiagoushi/js/syntaxhighlighter/shBrushJava.js"></script> 
		
</head>
     <body>
		<div class="indexlink"><a href="http://www.javaarch.net/jiagoushi/rootadmin/categorylist.htm">分类列表</a></div>
        $screen_content
		
        <script type="text/javascript">
             document.write('<a style="display:none!important" id="tanx-a-mm_12567797_4010936_13114136"></a>');
             tanx_s = document.createElement("script");
             tanx_s.type = "text/javascript";
             tanx_s.charset = "gbk";
             tanx_s.id = "tanx-s-mm_12567797_4010936_13114136";
             tanx_s.async = true;
             tanx_s.src = "http://p.tanx.com/ex?i=mm_12567797_4010936_13114136";
             tanx_h = document.getElementsByTagName("head")[0];
             if(tanx_h)tanx_h.insertBefore(tanx_s,tanx_h.firstChild);
        </script>
     </body>
</html>