#set($layout="rootadmin/common/layout.vm")
#set($page_title="添加文章")

<div class="addpost">
	#if($isSuccess && $isSuccess>=1) <h5>添加成功。</h5>#end
   <form action="http://www.javaarch.net/jiagoushi/rootadmin/addpost.htm" method="post" enctype="multipart/form-data">
	<input type="hidden" name="categoryId" value="$category.id"/></br>
    <input type="hidden" name="parentCategoryId" value="$category.parentId"/></br>
     <span>title:</span><input type="text" name="title" class="common"/></br>
	 <span>url :</span><input type="text" name="url" class="common"/></br>
	 <span>author:</span><input type="text" name="author" class="common" value="admin"/></br>
	 <span>content:</span>
	  <textarea id="text-input" oninput="this.editor.update()" class="content"></textarea>
	 <textarea id="content"  class="content" name="content"></textarea>
     </br>
     <input type="file" name="file"/>  <input type="submit" value="submit"/>
   </form>
</div>

<form id='myupload' action='/jiagoushi/rootadmin/uploadfile'  method='post' enctype='multipart/form-data' style='display: inline;'>
    <div class="clearfix">图片或视频上传：<input id="fileupload" type="file" name="mypic" style="display:inline;"> 
    		图片或视频url:<input type="text" id="picurl" style="display:inline; width:400px;"/><a href="#" id="picurllink" target="_blank">查看内容</a>
    </div>
    <input type="hidden" name="categoryId" value="$category.id"/></br>
</form>
<div class="clearfix" style="padding-top: 20px;">
	<script>
      function Editor(input, preview) {
        this.update = function () {
          preview.innerHTML = markdown.toHTML(input.value);
        };
        input.editor = this;
        this.update();
      }
      var myedit = function (id) { return document.getElementById(id); };
      new Editor(myedit("text-input"), myedit("content"));
    </script>
</div>
<script src="http://www.javaarch.net/jiagoushi/js/uploadpic.js" type="text/javascript" charset="GBK"></script>
