#set($layout="rootadmin/common/layout.vm")
#set($page_title="添加电子书")
	<form action="/jiagoushi/rootadmin/addbooklist.htm" method="post" enctype="multipart/form-data">
    <table>
		<tr >
			<td>是否添加</td>
			<td>电子书url</td>
			<td>内容</td>
        </tr>
		 #foreach($item in $booklist.entrySet())
			<tr >
                <td><input type="checkbox" name="booklist" value ="${item.key}"></td>
    			<td>$item.key</td>
    			<td>$item.value</td>
            </tr>
		 #end 
	</table>
	<input type="hidden" name="categoryId" value="$category.id"/></br>
    <input type="hidden" name="parentCategoryId" value="$category.parentId"/></br>
    <input type="hidden" name="id" value="$id"/></br>
	<div style="text-align:center;"><input type="submit" value="submit" value="确定" /></div>
   </form>
    <div class="indexlink"><a href="/jiagoushi/rootadmin/booklist.htm?id=${id}&categoryId=$category.id">电子书下一页</a></div>
 <div class="indexlink"><a href="/jiagoushi/rootadmin/shipinlist.htm?id=${id}&categoryId=$category.id">视频下一页</a></div>