#set($layout="rootadmin/common/layout.vm")
#set($page_title="评论管理")

    <table>
		<tr >
			<td>id</td>
			<td>内容</td>
			<td>作者</td>
			<td>创建时间</td>
			<td>修改时间</td>
			<td>操作</td>
        </tr>
		#foreach($item in $commentList)
			<tr >
                <td>$item.id</td>
    			<td>$item.content</td>
				<td>$item.author</td>
				<td>$item.gmtCreate</td>
				<td>$item.gmtModified</td>
				<td>
					 <a href="http://www.javaarch.net/jiagoushi/rootadmin/deleteComment.htm?id=$item.id&postId=$item.postId">删除</a>
					 <a href="http://www.javaarch.net/jiagoushi/rootadmin/updateComment.htm?id=$item.id&postId=$item.postId">审核通过</a>
				</td>
            </tr>
		#end
	</table>
		#set($last=$index-1)
    #if($totalPage > 1 && $index >1) < a href="http://www.javaarch.net/jiagoushi/rootadmin/deletePost.htm?id=$item.id&categoryId=$item.categoryId&index=$last" >上一页</a> #end
   当前$index 页
   #set($last=$index+1)
   #if($totalPage > 1 && $totalPage > $index) < a href="http://www.javaarch.net/jiagoushi/rootadmin/deletePost.htm?id=$item.id&categoryId=$item.categoryId&index=$next">下一页</a> #end
  总共$totalPage 页
