#set($layout="rootadmin/common/layout.vm")
#set($page_title="修改文章")

<div class="addpost">
   <form action="http://www.javaarch.net/jiagoushi/rootadmin/updatePostAction.htm" method="post">
	<input type="hidden" name="id" value="$post.id"/></br>
	<input type="hidden" name="categoryId" value="$post.categoryId"/></br>
     <span>title:</span><input type="text" name="title" class="common" value="$post.title"/></br>
	 <span>url :</span><input type="text" name="url" class="common"  value="$post.url"/></br>
	 <span>author:</span><input type="text" name="author" class="common" value="admin"  value="$post.author"/></br>
	 <span>content:</span>
	 <textarea id="text-input" oninput="this.editor.update()" class="content" value="$!post.content"></textarea>
	 <textarea id="content"  class="content" name="content"></textarea>
     </br>
     <input type="submit" value="submit"/>
   </form>
   
   <form id='myupload' action='/jiagoushi/rootadmin/uploadfile'  method='post' enctype='multipart/form-data' style='display: inline;'>
    <div class="clearfix">图片或视频上传：<input id="fileupload" type="file" name="mypic" style="display:inline;"> 
    		图片或视频url:<input type="text" id="picurl" style="display:inline; width:400px;"/><a href="#" id="picurllink" target="_blank">查看内容</a>
    </div>
    <input type="hidden" name="categoryId" value="$category.id"/></br>
</form>

</div>

<script>
      function Editor(input, preview) {
        this.update = function () {
          preview.innerHTML = markdown.toHTML(input.value);
        };
        input.editor = this;
        this.update();
      }
      var myedit = function (id) { return document.getElementById(id); };
      new Editor(myedit("text-input"), myedit("content"));
</script>
	
<script src="http://www.javaarch.net/jiagoushi/js/uploadpic.js" type="text/javascript" charset="GBK"></script>