#set($page_title="$!{post.title}")
#set($description="$!{post.getFilter()}")
<div class="post detail">
	<div class="title clearfix">
			#if($post.url && $post.url !="")
				<a href="${post.url}" target="_blank">$!{post.title}</a>
			#else
				<a href="http://www.javaarch.net/jiagoushi/${post.id}.htm">$!{post.title}</a>
			#end
	</div>
	<div class="text">
    		$!post.content
	</div>
	<div class="pagetip clearfix">
		<div style="float: left;padding-left: 10px;padding-top: 5px;"><div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=72ec0ddf-e929-4a4d-aa35-321f8513c06f&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script></div>
		<div class="fr">
				<span>$!{post.author}</span>
				<span>$dateUtil.format($post.gmtCreate,"yyyy-MM-dd HH:mm:ss")发表</span>
				<span>$!{post.view}次浏览</span>
				<!--<span>$!{post.comment}次评论 #set($title=$!post.title)#parse("blog/common/weiboshare.vm")</span>-->
		</div>
	</div>
	
	
	<div class="commentlist">
			#foreach($item in $commentList)
    			<div class="commentitem">
    				<div class="commentinfo"><span class="author">$!{item.author}</span><span class="time"> $dateUtil.format($item.gmtCreate,"yyyy-MM-dd")</span></div>
    				<div class="commentcontent">$!{item.content}</div>
    			</div>
			#end
	</div>
</center>

</div>

<div class="comment clearfix">
<!-- Duoshuo Comment BEGIN -->
<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"zhwj184"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->
</div>
<!--
<div class="comment clearfix">
	<form action="http://www.javaarch.net/jiagoushi/addComment.htm" method="post">
		<input type="hidden" name="postId" value="$!{post.id}"/>
        <div><span class="commenttip">用户名：</span><input type="text" name="author"/><span class="inputtip">(最多300个字,每天最多5次评论)</span></div>
		<div>
			<textarea name="content" cols="102" rows="3" onKeyUp="if(this.value.length > 300) this.value=this.value.substr(0,300)" ></textarea>
		</div>
		<div ><input class="subbutton" type="submit" value="发表评论"/></div>
	</form>
</div>
-->
#if($recomPostlist&&$recomPostlist.size()>0)
    <div class="recom clearfix">
    	<div>相关文章</div>
    	<ul>
			#set($cnt=0)
    		#foreach($item in $recomPostlist)
				#if(${post.id}!=$item.id&&$cnt<6)
					<li><a href="http://www.javaarch.net/jiagoushi/${item.id}.htm">$!{item.title}</a></li>
					#set($cnt=$cnt+1)
				#end
			#end
    	</ul>
    </div>
#end
<!--
<div class="clearfix" style="margin-top: 20px;">
	<iframe id="f" width="760px" height="100px" src= "http://union.yihaodian.com/link_make/viewPicInfo.do?imgSize=760x100&truckerU=107643800" frameborder="no" border="0" marginwidth="0" marginheight="0" allowtransparency="yes" scrolling="NO" > </iframe>
</div>-->
  <!--
<script type="text/javascript">
$(document).ready(function() {
  $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
});
</script>-->