#set($page_title="$!{post.title}")
<div class="post">
	<div class="title clearfix">
			#if($post.url && $post.url !="")
				<a href="${post.url}" target="_blank">$!{post.title}</a>
			#else
				<a href="http://www.javaarch.net/jiagoushi/${post.id}.htm">$!{post.title}</a>
			#end
	</div>
	<div class="text">
    		$!post.content
	</div>
	<div class="pagetip clearfix">
		<div class="fr">
				<span>$!{post.author}</span>
				<span>$dateUtil.format($post.gmtCreate,"yyyy-MM-dd HH:mm:ss")发表</span>
				<span>$!{post.view}次浏览</span>
				<span>$!{post.comment}次评论 #set($title=$!post.title)#parse("blog/common/weiboshare.vm")</span>	
		</div>
	</div>
	
	<div class="commentlist">
			#foreach($item in $commentList)
    			<div class="commentitem">
    				<div class="commentinfo"><span class="author">$!{item.author}</span><span class="time"> $dateUtil.format($post.gmtCreate,"yyyy-MM-dd")</span></div>
    				<div class="commentcontent">$!{item.content}</div>
    			</div>
			#end
	</div>
	
</div>

<div class="comment">
	<form action="http://www.javaarch.net/jiagoushi/addComment.htm" method="post">
		<input type="hidden" name="postId" value="$!{post.id}"/>
        <div><span class="commenttip">用户名：</span><input type="text" name="author"/><span class="inputtip">(最多300个字)</span></div>
		<div>
			<textarea name="content" cols="102" rows="3" onKeyUp="if(this.value.length > 300) this.value=this.value.substr(0,300)" ></textarea>
		</div>
		<div ><input class="subbutton" type="submit" value="发表评论"/></div>
	</form>
</div>


   
  

