#if($postlist && $postlist.size()>0)
    #set($page_title="$!{catMap.get($!{parentId}).name}-$!{catMap.get($!{id}).name} 频道-$!{postlist.get(0).title}")
    #set($description="$!{catMap.get($!{parentId}).name}-$!{postlist.get(0).getFilter()}")
#else
	  #set($page_title="$!{catMap.get($!{id}).name} 频道")
    #set($description="提供java编程原创文章，分享最有价值文章，提供计算机编程相关电子书和视频下载，IT行业相关吐槽，程序员专用导航")
#end
<div class="sn clearfix">
	<span> 
		<a href="http://www.javaarch.net/jiagoushi/index.htm?id=$!{id}&parentId=$!{parentId}&type=1">最新</a>
		<a href="http://www.javaarch.net/jiagoushi/index.htm?id=$!{id}&parentId=$!{parentId}&type=2">最热</a>
	</span>
</div>
#foreach($item in $postlist)
	<div class="post">
    	<div class="title clearfix">
			##if($item.url && $item.url !="")
			##	<a href="${item.url}" target="_blank">$!{item.title}</a>
			##else
				<a href="http://www.javaarch.net/jiagoushi/${item.id}.htm">$!{item.title}</a>
			###end
		</div>
		
		#if($!item.getFilterContent() && $!item.getFilterContent()!="")
    	<div class="text">
        		$!item.getFilterContent()
    	</div>
		#end
    	<div class="pagetip clearfix">
    		<div class="fr">
    				<span>$!{item.author}</span>
    				<span>$dateUtil.format($!{item.gmtCreate},"yyyy-MM-dd HH:mm:ss")发表</span>
    				<span>$!{item.view}次浏览</span>
    				<span><!--$!{item.comment}评论--> #set($title=$!{item.title})#parse("blog/common/weiboshare.vm")</span>
    		</div>
    	</div>
    </div>
#end
<div>
	#if($count>0)
	<div class="pagination">
		#set($last = $index - 1 )
		#set($next = $index + 1 )
    	#if($index <= 1)
			<span class="previous_page disabled">上一页</span>
		#else
			<a href="http://www.javaarch.net/jiagoushi/index.htm?index=$last&id=$!{id}&parentId=$!{parentId}&type=$!{type}">上一页</a>
			<a href="http://www.javaarch.net/jiagoushi/index.htm?index=$last&id=$!{id}&parentId=$!{parentId}&type=$!{type}">$last</a>
		#end
		<em>$index</em>
    	#if($index == $totalPage || $totalPage < 2)
			<span class="next_page disabled ">下一页</span>
		#else
			<a href="http://www.javaarch.net/jiagoushi/index.htm?index=$next&id=$!{id}&parentId=$!{parentId}&type=$!{type}">$next</a>
			<a href="http://www.javaarch.net/jiagoushi/index.htm?index=$next&id=$!{id}&parentId=$!{parentId}&type=$!{type}">下一页</a>
		#end
		共$!{totalPage}页 (共$!{count}篇文章）
	</div>
	#else
	#end
</div>
<!--
<script type="text/javascript">
$(document).ready(function() {
  $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
});
</script>   --> 


