<div class="footer">
	<span><a href="https://github.com/zhwj184" target="_blank">github</a></span>
	<span><a href="mailto:zhwj184@gmail.com">email</a></span>
	<span><a href="http://www.javaarch.net/jiagoushi/rss.htm" target="_blank">RSS</a></span>
	<h1>Powered by zhongweijian </h1>
</div>