<div class="footer">
	<span><a href="https://github.com/zhwj184" target="_blank">github</a></span>
	<span><a href="mailto:zhwj184@gmail.com">email</a></span>
	<span><a href="http://www.javaarch.net/jiagoushi/rss.htm" target="_blank">RSS</a></span>
	<!--
	<h1 class="declearinfo">免责声明：本网站资源部分收集于互联网，本网站不承担任何由于内容的合法性及健康性所引起的争议和法律责任。</hi>
	<h1 class="declearinfo">欢迎大家对网站内容侵犯版权进行监督和举报。举报：zhwj184@gmail.com</h1>
	-->
	<h1 class="webmaster">Powered by zhongweijian <a href="https://me.alipay.com/zhwj184" target="_blank">支持我</a></h1>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41271273-1', 'javaarch.net');
  ga('send', 'pageview');

</script>