<div class="sitetitle">码农日记</div>
<div class="sitemotto">
	走自己的路，享受这一路码农的快乐！
	<div class="siteinfo">
		<a href="http://www.javaarch.net/jiagoushi/rss.htm" target="_blank">RSS订阅</a>
	</div>
</div>
</div>