<ul>
	<li><a href="/jiagoushi/index.htm">Ê×Ò³</a></li>
	#foreach($item in $rootCatList)
		<li><a href="/jiagoushi/index.htm?parentId=${item.id}">$item.name</a></li>
	#end
	<li><a href="/jiagoushi/daohang.htm">µ¼º½</a></li>
	<!--<li><a href="/jiagoushi/liuyan.htm">ÁôÑÔ</a></li>-->
</ul>