<ul>
	<li><a href="http://www.javaarch.net/jiagoushi/index.htm">Ê×Ò³</a></li>
	#foreach($item in $rootCatList)
		<li><a href="http://www.javaarch.net/jiagoushi/index.htm?parentId=${item.id}">$item.name</a></li>
	#end
	<li><a href="http://www.javaarch.net/jiagoushi/daohang.htm">µ¼º½</a></li>
	<!--<li><a href="/jiagoushi/liuyan.htm">ÁôÑÔ</a></li>-->
</ul>
<div class="search">
		<form action="http://www.javaarch.net/jiagoushi/search.htm" method="post">
			<input class="input" type="text" name="k" value="$!{k}">
			<input class="submit" type="submit" value="ËÑË÷">
		</form>
</div>
