<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="myConsole" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd HH:mm:ss,SSS\} %-5p] [%t] %c{2\} - %m%n" />
		</layout>
		<!--过滤器设置输出的级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
			<param name="levelMax" value="warn" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/root/output/logs/run.log" />
		<param name="Threshold" value="DEBUG" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d [%c.%M] - %m%n" />
		</layout>
	</appender>

	<logger name="org.apache" additivity="false">
		<level value="WARN" />
		<appender-ref ref="file" />
	</logger>

	<logger name="org.springframework">
		<level value="WARN" />
	</logger>

	<logger name="java.sql">
		<level value="INFO" />
	</logger>

	<logger name="org.springweb">
		<level value="ERROR" />
	</logger>

	<root>
		<level value="ERROR" />
		<appender-ref ref="myConsole"/>    
		<appender-ref ref="file" />
	</root>
</log4j:configuration>
